.individual-projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto auto;
  gap:  10vw;
}

.grid-item {
  width: 10vw;
  position: relative;
}

.grid-item a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
}

.grid-item h2 {
  font-size:  2.5vh;
  position: absolute;
  text-align: center;
  margin-top:  auto;
  font-size: clamp(10px, 5vw, 30px);
  bottom: 0;
  left: 0;
  width: 100%;
}
