@import"css_setup/reset.css";
@import"css_setup/setup.css";
@import"typography.css";
@import"project_detail.css";
@import"socials.css";
@import"projects.css";
@import"resume.css";
@import"e4p.css";
@import"home_modal.css";
@import"home.css";
@import"phone_size.css";
@import"partials.css";
@import"substack_button.css";
@import"word_scramble.css";


::selection {
  background-color: white; /* Set the desired background color */
  color: black; /* Set the desired text color */
}

body {
  cursor: url(images/png/cursor.png), auto;
}
