.timeline-right {
  position: absolute;
  right: 0;
  width: 40vw;
  top: 40%;
}

.timeline-left {
  position: absolute;
  left: 0;
  width: 60vw;
  top: 15%;
}

.timeline-top {
  Display: none;
  
}

.timeline-bottom {
  display: none;
  
}


