@import"css_setup/reset.css";
@import"css_setup/setup.css";
@import"phone-size.css";
@import"typography.css";

@import"header.css";

@import"template_1/masthead.css";
@import"template_1/hero.css";
@import"template_1/center_content.css";
@import"template_1/clients.css";
@import"template_1/feature.css";
@import"template_1/cta.css";
@import"template_1/faq.css";
@import"template_1/footer.css";

@import"template_2/masthead.css";
@import"template_2/hero.css";
@import"template_2/center_content.css";
@import"template_2/clients.css";
@import"template_2/feature.css";
@import"template_2/cta.css";
@import"template_2/faq.css";
@import"template_2/footer.css";

@import"template_3/masthead.css";
@import"template_3/hero.css";
@import"template_3/center_content.css";
@import"template_3/clients.css";
@import"template_3/feature.css";
@import"template_3/cta.css";
@import"template_3/faq.css";
@import"template_3/footer.css";



button {
  cursor: pointer;
}



.center_content, .clients, .cta, .faq, .feature, .bottom {
  padding:  6% 0%;
}


inner-column {
  display: block;
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  }

