.faq-words p {
	font-size: 20px;
	line-height: 24px;
	color: var(--systemGrey600);
}

.faq-words {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	text-align: center;
}

.faq {
	padding: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}



/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the collapsible content. Note: hidden by default */
.content {
  background-color: white;
  max-height: 0;
  color: var(--systemGrey600);
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.content p {
	font-size: 16px;
	margin: 20px;
  text-align: left;

}

.collapsible:after {
  content: '>'; 
  font-size: 18px;
  color: var(--systemGrey600);
  float: right;
  margin-left: 5px;
  

}

.active:after {
  content: "^"; 

}