@import"../css_setup/reset.css";
@import"../css_setup/setup.css";
@import"header/header.css";
@import"hero/hero.css";
@import"center_content/center_content.css";
@import"clients/clients.css";
@import"feature/feature.css";
@import"cta/cta.css";
@import"faq/faq.css";
@import"footer/footer.css";



:root {
  --lightprimaryorigin: #3563E9; 
  --lightprimarydarker: #2851E3;
  --darkprimarydarker:  #3261E9;
  --lightprimarya4: rgba(247, 249, 254, 1);
  --systemGrey900: #212121;
  --systemGrey800: #424242;
  --systemGrey700: #616161;
  --systemGrey600: #757575;
  --systemGrey300: #E0E0E0;
  --systemGrey50: #FAFAFA;
}


h1 {
font-size: 64px;
font-weight: 700;
line-height: 77px;
letter-spacing: 1.2000000476837158px;
text-align: center;
color: var(--systemGrey900);
}

 h3 {
  color: var(--systemGrey900);
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}

p {
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
}

button {
  cursor: pointer;
}

