@import"../css_setup/reset.css";
@import"../css_setup/setup.css";
@import"typography.css";
@import"header/header.css";
@import"hero/hero.css";
@import"center_content/center_content.css";
@import"clients/clients.css";
@import"feature/feature.css";
@import"cta/cta.css";
@import"faq/faq.css";
@import"footer/footer.css";
@import"phone-size.css";







button {
  cursor: pointer;
}

.center-content, .clients, .cta, .faq, .feature, .footer {
  padding:  5% 0%;
}

.inner-column {

  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  }
