body.template_two .cta inner-column {
	padding: 2% 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--lightprimarya4);
	text-align: center;
	border-radius: 15px;

}

body.template_two .cta-words {
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
}

body.template_two .cta-buttons {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	gap: 20px;
}

