body.template_two .masthead {
	background-color: var(--lightprimarydarker);

}


body.template_two .masthead inner-column {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.1) inset;
	padding: 10px 0px;

}

body.template_two .masthead-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
	padding: 20px;
}


body.template_two .home-link {
	font-weight: 700;
	font-size: 14px;
  	color: var(--white);
  	margin-right: 10px;

}

body.template_two .signup-module {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

body.template_two .lang {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;

}

body.template_two .lang p {
	color: var(systemGrey700);
}

body.template_two .masthead .nav-link {
    font-weight: 500;
    font-size: 14px;
    color: var(--systemGrey300);
}

body.template_two .lang p {
    font-weight: 700;
    color: var(--white);
}