.cta .inner-column {
	padding: 5% 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--lightprimarya4);
	gap: 40px;
	border-radius: 15px;

}

.cta-words {
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
}

