.cta {
	margin: 5%;
	padding: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--lightprimarya4);
		gap: 40px;

}

.cta-words p {
	font-size: 20px;
	line-height: 24px;
	color: var(--systemGrey600);
}

.cta-words {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	text-align: center;
}

.cta-button {
	color: white ;
	background-color: var(--lightprimaryorigin);
	border: none;
	padding: 8px 22px;
	font-size: 18px;

}