body.template_one .clients inner-column {
	display: flex;
	flex-direction: column;
	gap: 100px;
}

body.template_one .c-module {
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
}

body.template_one .client-feedback-module {
	display: flex;
	flex-direction: column;
	gap: 50px;

}

body.template_one .client-feedback-component {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:  20px;
}

body.template_one .small-quote {
	text-align: center;
	max-width: 50ch;
}

body.template_one .person {
	width: 50px;
}

body.template_one .stars {
	width: 200px;
}

body.template_one .small-quote {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: var(--systemGrey800);
}

body.template_one .small-client-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--systemGrey600);
}
