.footer p, .footer-category p {
	font-weight: 400;
	font-size: 16px;
	color: white;
}

.footer-category {
	display: flex;
	flex-direction: column;
	gap: 10px;

}

.footer {
	background-color: var(--lightprimaryorigin);
}