@media (max-width: 660px) {

  .icon-row-projects{
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    margin-top: 4vh;

  }
  .inner-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    margin-top: 4vh;
   
  }
  .grid-item {
  width: 20vw;
  
  }
  .icon-row-socials{
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    margin-top: 4vh;

  }
  .socials {
    width: 20vw;
    
  }
  .website-top {
  justify-content: center;
  }
  .header-icon-phone {
    display: block;
    width: 40vw;
    margin-top: 2vh;

  }
  .header-icon {
    display: none
  }
  footer {
    display: none;
  }
}
