.word-container a {
  text-decoration: none;
}

.text-scramble-js {
  flex-direction: row;
  justify-content: center;
  font-weight: 100;
  
  font-size: clamp(9px, 3.5vw, 50px);
  color: #fafafa;
  font-family: "Roboto Mono";
 
}

.dud {
  color: #757575;
}

.word-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  text-align: center;
  padding: 10px 20px;
  min-height: 20em;


}