body.template_three .clients inner-column {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

body.template_three .c-module {
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
}

body.template_three .client-feedback-module {
	display: flex;
	flex-direction: column;
	gap: 20px;

}

body.template_three .client-feedback {
	display: flex;
	flex-direction: row;

}

body.template_three .small-quote {
	text-align: left;
	max-width: 50ch;
}

body.template_three .client-role {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: var(--systemGrey800);
}

body.template_three .small-client-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--systemGrey600);
}

body.template_three .client-r {
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	gap: 50px;
}

body.template_three .clients-testimonials {
		display: flex;
	flex-direction: row;
	gap: 50px;
}

body.template_three .big-quote {
	font-size: 32px;
	line-height: 48px;
	color: var(--systemGrey900);
	max-width: 50ch;
}

body.template_three .small-client-name {
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;
	color: var(--systemGrey600);
}

body.template_three .client-role {
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
}