body.template_three .features inner-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 50px;
}

body.template_three .feature-title {
	display: flex;
	flex-direction: column;
	align-items: center;
  gap: 20px;
}


body.template_three .feature-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  grid-gap: 10px; /* Gap between grid items */
}

body.template_three .feature-list {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding: 10px; /* Padding for grid items */
  gap: 10px;
}

body.template_three .feature-section img {
width: 50px;
}

body.template_three .feature-body {

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--systemGrey700);  
  text-align: center;

}


/*phone size*/ -- have to include it here because of how the css file structure is laid out
@media(max-width: 800px) {
body.template_three .feature-section {
  grid-template-columns: repeat(2, 1fr);

}
}

