body.template_two .features inner-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 50px;
}

body.template_two .feature-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}


body.template_two .feature-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  grid-gap: 10px; /* Gap between grid items */
}

body.template_two .feature-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Center content horizontally */
  align-content: left; /* Center content vertically */
  border: 1px solid var(--systemGrey300);
  padding: 10px; /* Padding for grid items */
  border-radius: 10px;
  gap: 10px;
}

body.template_two .feature-section img {
width: 50px;
}

body.template_two .feature-body {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--systemGrey700);  
}


/*phone size*/ -- have to include it here because of how the css file structure is laid out
@media(max-width: 800px) {
body.template_two .feature-section {
  grid-template-columns: repeat(2, 1fr);

}
}

