.feature .inner-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 50px;
}

.feature-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.feature-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  grid-gap: 10px; /* Gap between grid items */
}

.feature-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Center content horizontally */
  align-content: left; /* Center content vertically */
  border: var(--systemGrey300);
  padding: 10px; /* Padding for grid items */
  border-radius: 10px;
}

.feature-section img {
width: 50px;
}
